In [ ]:
def once(a):
    return 1*a

def twice(a):
    return 2*a

def thrice(a):
    return 3*a

In [ ]:
twice(5)

10

In [ ]:
def myfunction(value,name):
    
    if name=="once" or name=="one":
        return once(value)
    
    if name=="twice" or name=="two":
        return twice(value)

    if name=="thrice":
        return thrice(value)
    
    # if it gets this far, there is a problem!
    print("I don't know what ",name," is!")

In [ ]:
def myfunction(value,name):
    
    if name=="once" or name=="one":
        return once(value)
    
    elif name=="twice" or name=="two":
        return twice(value)

    elif name=="thrice":
        return thrice(value)
    else:
        # if it gets this far, there is a problem!
        print("I don't know what ",name," is!")

In [ ]:
myfunction(5,"twice")

10

In [ ]:
myfunction(5,"bob")

I don't know what  bob  is!

In [ ]:
myfunction(5,"two")

10

In [ ]:
for i in range(20):
    
    if i>10:
        print("bob",i)
    elif i<5:
        print("sally",i)
    else:
        print("X")

sally 0
sally 1
sally 2
sally 3
sally 4
X
X
X
X
X
X
bob 11
bob 12
bob 13
bob 14
bob 15
bob 16
bob 17
bob 18
bob 19

In [ ]:
for i in range(20):
    
    if i>10:
        print("bob",i)
        
    if i<5:
        print("sally",i)
    else:
        print("X")

sally 0
sally 1
sally 2
sally 3
sally 4
X
X
X
X
X
X
bob 11
X
bob 12
X
bob 13
X
bob 14
X
bob 15
X
bob 16
X
bob 17
X
bob 18
X
bob 19
X